<a href="https://colab.research.google.com/github/Anderson-Andre-P/supermercado.db/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import sqlite3
conn = sqlite3.connect('supermercado.db')

In [69]:
conn.execute("""
    CREATE TABLE Produtos (
    cod INTEGER NOT NULL,
    nome VARCHAR(25),
    preco REAL,
    estoque INTEGER,
    PRIMARY KEY (cod)
);
""")
conn.commit()
print('Table Produtos created.')

Table Produtos created.

In [70]:
conn.execute("""
    CREATE TABLE Fornecedores (
    cnpj INTEGER NOT NULL,
    nome VARCHAR(30),
    endereco VARCHAR(30),
    tipo CHAR(15) NOT NULL DEFAULT ('Generico'),
    PRIMARY KEY (cnpj)
    );
""")
conn.commit()
print('Table Fornecedores created.')

Table Fornecedores created.

In [71]:
conn.execute("""
    CREATE TABLE Fornecimento (
    cod INTEGER,
    cnpj INTEGER,
    entregue DATE,
    PRIMARY KEY (cod , cnpj , entregue),
    FOREIGN KEY (cod)
        REFERENCES Produtos (cod),
    FOREIGN KEY (cnpj)
        REFERENCES Fornecedores (cnpj)
    );
""")
conn.commit()
print('Table Fornecimento created.')

Table Fornecimento created.

In [72]:
conn.execute("""
    CREATE TABLE Caixas (
    cpf INTEGER NOT NULL,
    nome VARCHAR(30),
    nascimento YEAR,
    endereco VARCHAR(50),
    salario REAL,
    PRIMARY KEY (cpf)
    );
""")
conn.commit()
print('Table Caixas created.')

Table Caixas created.

In [73]:
conn.execute("""
    CREATE TABLE Vendidos (
    cod INTEGER,
    cpf INTEGER,
    data_venda DATE,
    PRIMARY KEY (cod , cpf),
    FOREIGN KEY (cod)
        REFERENCES Produtos (cod),
    FOREIGN KEY (cpf)
        REFERENCES Caixas (cpf)
    );
""")
conn.commit()
print('Table Vendidos created.')

Table Vendidos created.

In [74]:
conn.execute("""
    CREATE TABLE Delivery (
    cod_entregador INTEGER,
    nome_moto VARCHAR(30),
    tipo CHAR(15) NOT NULL DEFAULT ('Padrão'),
    PRIMARY KEY (cod_entregador)
    );
""")
conn.commit()
print('Table Delivery created.')

Table Delivery created.

In [75]:
conn.execute("""
    CREATE TABLE Clientes (
    id_cli INTEGER NOT NULL,
    nome VARCHAR(30),
    endereco VARCHAR(50),
    desde YEAR,
    PRIMARY KEY (id_cli)
    );
""")
conn.commit()
print('Table Clientes created.')

Table Clientes created.

In [76]:
conn.execute("""
    CREATE TABLE Controle_Entrega (
    cod INTEGER,
    cpf INTEGER,
    id_cli INTEGER,
    cod_entregador INTEGER,
    descritivo VARCHAR(100),
    PRIMARY KEY (cod , cpf , id_cli , cod_entregador),
    FOREIGN KEY (cod , cpf)
        REFERENCES Vendidos (cod , cpf),
    FOREIGN KEY (id_cli)
        REFERENCES Clientes (id_cli),
    FOREIGN KEY (cod_entregador)
        REFERENCES Delivery (cod_entregador)
    );
""")
conn.commit()
print('Table Controle_Entrega created.')

Table Controle_Entrega created.

In [77]:
conn.execute("""
    insert 
        into Produtos (nome, preco, estoque)
        values
            ('Açucar', 1, 150),
            ('Presunto', 2, 300),
            ('Queijo', 3, 400),
            ('Arroz', 30, 500),
            ('Feijão', 10, 250),
            ('Alface', 1, 150),
            ('Carne', 50, 250),
            ('Caviar', 500, 3),
            ('Cerveja', 3, 1000),
            ('Leite', 3, 50),
            ('Chocolate', 1, 150),
            ('Sabão', 5, 25),
            ('Frango', 15, 280),
            ('Refrigerante', 6, 230),
            ('Macarrão', 4, 150);
""")
conn.commit()
print('Insert in Produtos.')

Insert in Produtos.

In [78]:
conn.execute("""
    insert
    into Fornecedores (nome, endereco, tipo)
    values
    ('Carreteiro SA', 'Rua do Arroz doce', 'Grãos'),
    ('Clicletinho é quase amor', 'Rua Halls', 'Guloseimas'),
    ('Sidra & Conhaque', 'Rua Colarinho', 'Bebidas'),
    ('Fazendinha do Cesão', 'Rua Caraguatatuba', 'Açougue');
""")
conn.commit()
print('Insert in Fornecedores')

Insert in Fornecedores

In [79]:
conn.execute("""
    insert
    into Fornecimento (cod, cnpj, entregue)
    values
    (2, 1, '2021-02-15'),
    (3, 1, '2021-01-16'),
    (4, 1, '2021-01-15'),
    (5, 1, '2021-03-17'),
    (6, 4, '2021-01-15'),
    (7, 4, '2021-01-15'),
    (8, 4, '2021-02-23'),
    (9, 4, '2016-02-01'),
    (10, 2, '2018-02-03'),
    (11, 2, '2019-02-04'),
    (12, 2, '2020-12-18'),
    (13, 3, '2020-10-15'),
    (14, 3, '2020-06-15'),
    (15, 3, '2020-02-16'),
    (15, 1, '2020-05-15');
""")
conn.commit()
print('Insert in Fornecimento')

Insert in Fornecimento

In [80]:
conn.execute("""
    insert
    into Caixas (nome, nascimento, endereco, salario)
    values
    ('Xuxa', '1901', 'Planeta Xuxa', 10800),
    ('Bin Lado', '1950', 'AfegananisCity', 500),
    ('Barack Brahma', '1936', 'Estados da Lado', 2000),
    ('Frida Fedrida', '2000', 'Cidade do Mexe', 3000),
    ('Angela Mel', '1901', 'Frank Cotia', 1800);
""")
conn.commit()
print('Insert in Caixas')

Insert in Caixas

In [81]:
conn.execute("""
    insert 
    into Vendidos (cod, cpf, data_venda)
    values
    (1, 2, '2020-01-01'),
    (1, 3, '2021-01-01'),
    (2, 4, '2019-01-01'),
    (2, 5, '2018-01-01'),
    (3, 1, '2016-01-01'),
    (3, 2, '2021-01-01'),
    (4, 3, '2017-01-01'),
    (4, 4, '2016-01-01'),
    (5, 4, '2021-01-01'),
    (5, 2, '2020-01-02'),
    (6, 3, '2021-01-03'),
    (6, 4, '2019-01-04'),
    (7, 5, '2018-01-05'),
    (8, 1, '2016-01-06'),
    (9, 2, '2021-01-07'),
    (10, 3, '2017-01-08'),
    (11, 4, '2016-01-09'),
    (12, 4, '2021-01-10');
""")
conn.commit()
print('Insert in Vendidos.')

Insert in Vendidos.

In [82]:
conn.execute("""
    insert
    into Clientes (nome, endereco, desde)
    values
    ('Ana Albuquerque', 'Rua do Chateu', '2016'),
    ('Jose Marmelo', 'Rua Marmelopolis', '2013'),
    ('Rogerio Bezerra', 'Rua do Curral', '2018'),
    ('Mariana Oliveira', 'Rua do Azeite', '2020'),
    ('Francisco Apostolino', 'Rua da Parabola', '2013'),
    ('Carla Caxias', 'Rua das Caixas', '2020'),
    ('Felipe Tavares', 'Rua da Taverna', '2015'),
    ('Bruna Brandão', 'Rua do Arpoador', '2015'),
    ('Antonio Mendes', 'Rua do Pescador', '2017');
""")
conn.commit()
print('Insert in Clientes.')

Insert in Clientes.

In [83]:
conn.execute("""
    insert 
    into Delivery (nome_moto, tipo)
    values
    ('iFood', 'FDS'),
    ('iFood', 'Diurna'),
    ('iFood', 'Noturna'),
    ('iFood', 'Expres'),
    ('aiqFome', 'FDS'),
    ('aiqFome', 'Diurna'),
    ('aiqFome', 'Noturna'),
    ('Tonho da Biz', 'Expres'),
    ('Tonho da Biz', 'FDS'),
    ('Tonho da Biz', 'Diurna'),
    ('Tonho da Biz', 'Noturna'),
    ('Tonho da Biz', 'Expres');
""")
conn.commit()
print('Insert in Delivery.')

Insert in Delivery.

In [84]:
conn.execute("""
    insert
    into Controle_Entrega (cod, cpf, id_cli, cod_entregador, descritivo)
    values
    (1,2, 1, 2, 'Entregue'),
    (1,3, 2, 3, 'Entregue'),
    (2,4, 3, 4, 'Entregue'),
    (2,5, 4, 5, 'Entregue'),
    (3,1, 5, 6, 'Entregue'),
    (3,2, 6, 7, 'Entregue'),
    (4,3, 7, 8, 'Entregue'),
    (4,4, 8, 9, 'Entregue'),
    (5,2, 9, 10, 'Entregue'),
    (5,4, 1, 11, 'Entregue'),
    (6,3, 2, 12, 'Entregue'),
    (6,4, 3, 1, 'Entregue'),
    (7,5, 4, 2, 'Entregue');
""")
conn.commit()
print('Insert in Controle_Entrega.')

Insert in Controle_Entrega.

In [85]:
conn = sqlite3.connect('supermercado.db')
print('Conectado no db supermercado.db')

Conectado no db supermercado.db

In [86]:

cursor = conn.execute("SELECT * from Delivery")

for row in cursor:
    print(row)

(1, 'iFood', 'FDS')
(2, 'iFood', 'Diurna')
(3, 'iFood', 'Noturna')
(4, 'iFood', 'Expres')
(5, 'aiqFome', 'FDS')
(6, 'aiqFome', 'Diurna')
(7, 'aiqFome', 'Noturna')
(8, 'Tonho da Biz', 'Expres')
(9, 'Tonho da Biz', 'FDS')
(10, 'Tonho da Biz', 'Diurna')
(11, 'Tonho da Biz', 'Noturna')
(12, 'Tonho da Biz', 'Expres')

In [87]:
cursor = conn.execute("SELECT * from Produtos")

for row in cursor:
    print(row)

(1, 'Açucar', 1.0, 150)
(2, 'Presunto', 2.0, 300)
(3, 'Queijo', 3.0, 400)
(4, 'Arroz', 30.0, 500)
(5, 'Feijão', 10.0, 250)
(6, 'Alface', 1.0, 150)
(7, 'Carne', 50.0, 250)
(8, 'Caviar', 500.0, 3)
(9, 'Cerveja', 3.0, 1000)
(10, 'Leite', 3.0, 50)
(11, 'Chocolate', 1.0, 150)
(12, 'Sabão', 5.0, 25)
(13, 'Frango', 15.0, 280)
(14, 'Refrigerante', 6.0, 230)
(15, 'Macarrão', 4.0, 150)

In [88]:
cursor = conn.execute("SELECT * from Fornecedores")

for row in cursor:
    print(row)

(1, 'Carreteiro SA', 'Rua do Arroz doce', 'Grãos')
(2, 'Clicletinho é quase amor', 'Rua Halls', 'Guloseimas')
(3, 'Sidra & Conhaque', 'Rua Colarinho', 'Bebidas')
(4, 'Fazendinha do Cesão', 'Rua Caraguatatuba', 'Açougue')

In [89]:
cursor = conn.execute("SELECT * from Fornecimento")

for row in cursor:
    print(row)

(2, 1, '2021-02-15')
(3, 1, '2021-01-16')
(4, 1, '2021-01-15')
(5, 1, '2021-03-17')
(6, 4, '2021-01-15')
(7, 4, '2021-01-15')
(8, 4, '2021-02-23')
(9, 4, '2016-02-01')
(10, 2, '2018-02-03')
(11, 2, '2019-02-04')
(12, 2, '2020-12-18')
(13, 3, '2020-10-15')
(14, 3, '2020-06-15')
(15, 3, '2020-02-16')
(15, 1, '2020-05-15')

In [90]:
cursor = conn.execute("SELECT * from Caixas")

for row in cursor:
    print(row)

(1, 'Xuxa', 1901, 'Planeta Xuxa', 10800.0)
(2, 'Bin Lado', 1950, 'AfegananisCity', 500.0)
(3, 'Barack Brahma', 1936, 'Estados da Lado', 2000.0)
(4, 'Frida Fedrida', 2000, 'Cidade do Mexe', 3000.0)
(5, 'Angela Mel', 1901, 'Frank Cotia', 1800.0)

In [91]:
cursor = conn.execute("SELECT * from Vendidos")

for row in cursor:
    print(row)

(1, 2, '2020-01-01')
(1, 3, '2021-01-01')
(2, 4, '2019-01-01')
(2, 5, '2018-01-01')
(3, 1, '2016-01-01')
(3, 2, '2021-01-01')
(4, 3, '2017-01-01')
(4, 4, '2016-01-01')
(5, 4, '2021-01-01')
(5, 2, '2020-01-02')
(6, 3, '2021-01-03')
(6, 4, '2019-01-04')
(7, 5, '2018-01-05')
(8, 1, '2016-01-06')
(9, 2, '2021-01-07')
(10, 3, '2017-01-08')
(11, 4, '2016-01-09')
(12, 4, '2021-01-10')

In [92]:
cursor = conn.execute("SELECT * from Clientes")

for row in cursor:
    print(row)

(1, 'Ana Albuquerque', 'Rua do Chateu', 2016)
(2, 'Jose Marmelo', 'Rua Marmelopolis', 2013)
(3, 'Rogerio Bezerra', 'Rua do Curral', 2018)
(4, 'Mariana Oliveira', 'Rua do Azeite', 2020)
(5, 'Francisco Apostolino', 'Rua da Parabola', 2013)
(6, 'Carla Caxias', 'Rua das Caixas', 2020)
(7, 'Felipe Tavares', 'Rua da Taverna', 2015)
(8, 'Bruna Brandão', 'Rua do Arpoador', 2015)
(9, 'Antonio Mendes', 'Rua do Pescador', 2017)

In [93]:
cursor = conn.execute("SELECT * from Delivery")

for row in cursor:
    print(row)

(1, 'iFood', 'FDS')
(2, 'iFood', 'Diurna')
(3, 'iFood', 'Noturna')
(4, 'iFood', 'Expres')
(5, 'aiqFome', 'FDS')
(6, 'aiqFome', 'Diurna')
(7, 'aiqFome', 'Noturna')
(8, 'Tonho da Biz', 'Expres')
(9, 'Tonho da Biz', 'FDS')
(10, 'Tonho da Biz', 'Diurna')
(11, 'Tonho da Biz', 'Noturna')
(12, 'Tonho da Biz', 'Expres')

In [94]:
cursor = conn.execute("SELECT * from Controle_Entrega")

for row in cursor:
    print(row)

(1, 2, 1, 2, 'Entregue')
(1, 3, 2, 3, 'Entregue')
(2, 4, 3, 4, 'Entregue')
(2, 5, 4, 5, 'Entregue')
(3, 1, 5, 6, 'Entregue')
(3, 2, 6, 7, 'Entregue')
(4, 3, 7, 8, 'Entregue')
(4, 4, 8, 9, 'Entregue')
(5, 2, 9, 10, 'Entregue')
(5, 4, 1, 11, 'Entregue')
(6, 3, 2, 12, 'Entregue')
(6, 4, 3, 1, 'Entregue')
(7, 5, 4, 2, 'Entregue')

In [95]:
# Não consegui rodar essa procedure...

# conn.execute("""
#     CREATE PROCEDURE entrega_de_produto ()
# BEGIN
# 	select DE.nome_moto, CLI.nome, CON.descritivo
# 	from delivery as DE, clientes as CLI, controle_entrega as CON
# 	where DE.cod_entregador = CON.cod_entregador and CON.id_cli = CLI.id_cli;
# END;
# """)
# conn.commit()
# print('Procedure executada')

OperationalError: ignored